build/
out/
build_rel/
/.vs
/CMakeSettings.json
database.db
training.duckdb
train/__pycache__/
models/*
catboost_info
15.db
15.duckdb
out.txt
importances.txt
Cargo.lock
test.py

# Added by cargo

/target
lib_lightgbm.so
liblib_lightgbm.so
